# Penggabungan Kondisi

## And

In [1]:
#input jam
jam=int(input("Pukul berapa sekarang? "))
#pagi: 3-11
#siang: 11-15
#sore: 15- 18
#malam : 18- 2 
#kondisi
if jam >= 3 and jam < 11:
    print("Selamat pagi!")
elif jam >= 11 and jam <15:
    print("Selamat siang!")
elif jam >=15 and jam <18:
    print("Selamat sore!")
else :
    print("Selamat malam!")

Pukul berapa sekarang? 9
Selamat pagi!

In [2]:
#shorthand and
jam1=int(input("Pukul berapa sekarang? "))
if 3 == jam < 11:
    print("Selamat pagi!")
elif 11 == jam < 15:
    print("Selamat siang!")
elif 15 == jam < 18:
    print("Selamat sore!")
else :
    print("Selamat malam!")

Pukul berapa sekarang? 90
Selamat malam!

In [3]:
#shorthand and#
angka =5
if 4< angka <6:
    print("Halo")
else:
    print("Else")

Halo

## or

In [4]:
#true w/ true
if 6<7 or 8<8:
    print("betul")

betul

In [5]:
#true w/ false
if 6<7 or 8>9:
    print("salah satunya betul")

salah satunya betul

## not

In [6]:
num=6
num2=9
if not num < num2:
    print("Hi")
else:
    print("Halo")

Halo

In [7]:
x= True
print(not x)

False

In [8]:
li=('A','B','C')
if ('C' not in li):
    print('C not in li')
else:
    print('C in li')

C in li

In [9]:
li=('A','B','C')
if not 'D' in li:
    print('C not in li')
else:
    print('C in li')

C not in li

In [10]:
masukkan=int(input("Masukkan angka: "))
li=(1,2,3,4,5,6,7,8,9)
if (masukkan not in li):
    print(masukkan,"tidak ada di list")
else:
    print(masukkan,"ada di list")

Masukkan angka: 89
89 tidak ada di list

In [12]:
#is
ank="jaka"
if (type(ank) is str):
    print(ank,"adalah string")
else:
    print(ank,"bukan string")

jaka adalah string

## random

In [13]:
from random import randint

print(randint(1,100))

55

In [18]:
from random import randrange

print(randrange(1,50,2))

31

## list

In [5]:
list_1=['Bakso','Soto','Mie','Rawon','Nasi Goreng','Pizza','Burger','Hotdog']
#memanggil salah satu valuenya
print(list_1[0])
print(list_1[-2])
print(list_1[0:3])
print(list_1[:4])

Bakso
Burger
['Bakso', 'Soto', 'Mie']
['Bakso', 'Soto', 'Mie', 'Rawon']

In [6]:
#mengedit value
list_1[2]='Rendang'
print(list_1[2])
list_1[1]='Nasi Padang'
print(list_1[1])
print(list_1[0:3])

Rendang
Nasi Padang
['Bakso', 'Nasi Padang', 'Rendang']

In [7]:
#menambahkan value
list_1.append('Capcay')
print(list_1)
list_1.append('Geprek')
print(list_1)

['Bakso', 'Nasi Padang', 'Rendang', 'Rawon', 'Nasi Goreng', 'Pizza', 'Burger', 'Hotdog', 'Capcay']
['Bakso', 'Nasi Padang', 'Rendang', 'Rawon', 'Nasi Goreng', 'Pizza', 'Burger', 'Hotdog', 'Capcay', 'Geprek']

In [8]:
#menghapus nilai
del list_1[8]
print(list_1)

['Bakso', 'Nasi Padang', 'Rendang', 'Rawon', 'Nasi Goreng', 'Pizza', 'Burger', 'Hotdog', 'Geprek']

In [9]:
#looping list
for makanan in list_1:
    print("Saya pesan", makanan, sep=':')

Saya pesan:Bakso
Saya pesan:Nasi Padang
Saya pesan:Rendang
Saya pesan:Rawon
Saya pesan:Nasi Goreng
Saya pesan:Pizza
Saya pesan:Burger
Saya pesan:Hotdog
Saya pesan:Geprek

## Dictionary

In [2]:
bio={'nama':'Yanto','umur':'22', 'profesi':'Ilmuwan'}
print(bio)

{'nama': 'Yanto', 'umur': '22', 'profesi': 'Ilmuwan'}

In [47]:
print(bio['nama'])
print(bio['umur'])
print(bio['profesi'])

Yanto
22
Ilmuwan

In [4]:
for key, value in bio.items():
    print(key, value, sep=': ')

nama: Yanto
umur: 22
profesi: Ilmuwan

In [49]:
#dictionary bercabang
pelanggan={
    1:{
        'nama':'Yando','umur':'23', 'profesi':'Super Hero'
    },
    2:{
        'nama':'Novan','umur':'24', 'profesi':'Anti Hero'
    },
    3:{
        'nama':'Sandwe','umur':'22', 'profesi':'Intel'
    }
}
print(pelanggan[1])
print(pelanggan[2])
print(pelanggan[3])

{'nama': 'Yando', 'umur': '23', 'profesi': 'Super Hero'}
{'nama': 'Novan', 'umur': '24', 'profesi': 'Anti Hero'}
{'nama': 'Sandwe', 'umur': '22', 'profesi': 'Intel'}

In [57]:
#looping
for key, value in pelanggan.items():
    print("Pelanggan ke-", key)
    #looping
    for key2 in value:
        print(key2, value[key2], sep=': ')
    print()

Pelanggan ke- 1
nama: Yando
umur: 23
profesi: Super Hero

Pelanggan ke- 2
nama: Novan
umur: 24
profesi: Anti Hero

Pelanggan ke- 3
nama: Sandwe
umur: 22
profesi: Intel

## tuple (tidak bisa diganti)

In [59]:
tup=('kucing','anjing','ayam','sapi')
print(tup)
print(type(tup))

('kucing', 'anjing', 'ayam', 'sapi')
<class 'tuple'>

In [60]:
print(len(tup))

4

In [61]:
print(tup[1])

anjing

In [68]:
#convert tuple
tup_2=list(tup)
print(tup_2)
tup_2[1]='kelinci'
print(tup_2)
tup_3=tuple(tup_2)
print(tup_3)

['kucing', 'anjing', 'ayam', 'sapi']
['kucing', 'kelinci', 'ayam', 'sapi']
('kucing', 'kelinci', 'ayam', 'sapi')

## set

In [69]:
set_1={'Berlin','London','Paris','Amsterdam','Roma','Madrid'}
print(set_1,type(set_1))

{'London', 'Berlin', 'Amsterdam', 'Madrid', 'Roma', 'Paris'} <class 'set'>

In [71]:
set_angka={1,2,2,3,3,4,5,8,7,9}
print(set_angka)

{1, 2, 3, 4, 5, 7, 8, 9}

In [76]:
set_kota={'Berlin','London','Paris','Amsterdam','Roma','Madrid'}
print(set_kota)

{'London', 'Berlin', 'Amsterdam', 'Madrid', 'Roma', 'Paris'}

In [78]:
set_11={1,2,3,4,5,6,7,8,9,10}
set_12={1,3,5,7,9,11,12,13,14,15,16,17}
print(set_11 & set_12)
print(set_11 | set_12)

{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}